# Intro to Pandas

Pandas is a Python package for data analysis and exposes two new
data structures: Dataframes and Series.

- [Dataframes](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) store tabular data consisting of rows and columns.Pandas implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.
- [Series](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html) are similar to Python's built-in list or set data types.

In this notebook, we will explore the data structures that Pandas
provides, and learn how to interact with them.

### 1. Importing Pandas

To import an external Python library such as Pandas, use Python's
import function. To save yourself some typing later on, you can
give the library you import an alias. Here, we are importing Pandas
and giving it an alias of `pd`.

In [1]:
import pandas as pd

### 2. Creating A Dataframe and Basic Exploration
We will load a CSV file as a dataframe using Panda's `read_csv`
method. This will allow us to use Pandas' dataframe functions to
explore the data in the CSV.

In [6]:
import os
cwd = os.getcwd()
cwd

'/home/catherine/Downloads/machine_learning_for_good-master/module_1_introduction'

In [8]:
df = pd.read_csv("/home/catherine/Downloads/machine_learning_for_good-master/loans.csv")

Once we have loaded the CSV as a dataframe, we can start to explore
the data.  Here are a few useful methods:
    - .head(): returns first 5 rows of the DataFrame
    - .tail(): returns last 5 rows of the DataFrame
    - .shape: returns tuple with first element indicating the number of rows and the second element indicating the number of columns
    - .columns: returns list of all columns in DataFrame
    - .index: returns DataFrame indices
    - .dtypes: returns Series explaining the datatype of each column

In [9]:
df.dtypes

id_number                 int64
loan_amount               int64
lender_count              int64
status                   object
funded_date              object
funded_amount             int64
repayment_term            int64
location_country_code    object
sector                   object
description              object
use                      object
dtype: object

To get some basic stats of the columns you can either use .describe() for discrete data or .value_counts for categroical data

In [10]:
df.describe()

          id_number   loan_amount  lender_count  funded_amount  repayment_term
count  6.019000e+03   6019.000000   6019.000000    6019.000000     6019.000000
mean   1.359770e+06   1499.011464     35.661406    1325.070610       11.803290
std    3.719316e+05   2512.517280     73.420256    2444.726815        9.114948
min    1.377200e+04     50.000000      0.000000       0.000000        3.000000
25%    1.425188e+06    300.000000      7.000000     200.000000        8.000000
50%    1.550673e+06    625.000000     16.000000     525.000000       10.000000
75%    1.566204e+06   1825.000000     41.000000    1525.000000       14.000000
max    1.573593e+06  80000.000000   2665.000000   80000.000000      133.000000

Alternatively, if you want just the count or min / max of one column, you can use Pandas built in functions:

In [12]:
print(len(df['lender_count']))
print(max(df['funded_amount']))
print(df['loan_amount'].mean())

6019
80000
1499.0114636982887

In [13]:
df.head()

,id_number,loan_amount,lender_count,status,funded_date,funded_amount,repayment_term,location_country_code,sector,description,use
0,736066,4825,60,funded,2014-08-03T17:51:50Z,4825,8,BJ,Retail,NaN,NaN
1,743090,975,34,funded,2014-08-18T09:10:54Z,975,12,BJ,Food,NaN,NaN
2,743120,950,25,funded,2014-08-09T17:46:35Z,950,14,BJ,Services,NaN,NaN
3,743121,825,28,funded,2014-08-24T17:00:38Z,825,14,BJ,Retail,NaN,NaN
4,743124,725,21,funded,2014-08-25T03:24:54Z,725,13,BJ,Retail,NaN,NaN

In [16]:
df['sector'].value_counts()

Food              1738
Retail            1314
Agriculture       1089
Clothing           517
Services           436
Education          265
Personal Use       252
Housing            115
Transportation      77
Health              63
Construction        62
Manufacturing       37
Arts                35
Wholesale           19
Name: sector, dtype: int64

### 3. Selecting Data
To examine a specfic column of the DataFrame:

In [17]:
df['sector'].head()

0      Retail
1        Food
2    Services
3      Retail
4      Retail
Name: sector, dtype: object

In [18]:
df[['sector','funded_amount']].tail()

        sector  funded_amount
6014      Food            200
6015      Food            200
6016  Clothing            200
6017      Food            200
6018      Food            200



To examine specific rows and columns of a Dataframe, Pandas provides
the `iloc` and `loc` methods to do so.  `iloc` is used when you want to specify a list or range of indices, and `.loc` is used when you want to specify a list or range of labels.  

For both of these methods you need to specify two elements, with the first element indicating the rows that you want to select and the second element indicating the columns that you want to select.

In [19]:
# Get rows 1 through 3 and columns 0 through 5.
df.iloc[1:3,:5]

   id_number  loan_amount  lender_count  status           funded_date
1     743090          975            34  funded  2014-08-18T09:10:54Z
2     743120          950            25  funded  2014-08-09T17:46:35Z

In [22]:
# Get rows with index values of 2-4 and the columns basket_amount and activity
df.loc[2:4, ["funded_amount", "sector"]]

   funded_amount    sector
2            950  Services
3            825    Retail
4            725    Retail

What do you notice about the way the indices work for `iloc` versus `loc`?

In [23]:
# To see all the rows and columns:
df.iloc[:,:]

,id_number,loan_amount,lender_count,status,funded_date,funded_amount,repayment_term,location_country_code,sector,description,use
0,736066,4825,60,funded,2014-08-03T17:51:50Z,4825,8,BJ,Retail,NaN,NaN
1,743090,975,34,funded,2014-08-18T09:10:54Z,975,12,BJ,Food,NaN,NaN
2,743120,950,25,funded,2014-08-09T17:46:35Z,950,14,BJ,Services,NaN,NaN
3,743121,825,28,funded,2014-08-24T17:00:38Z,825,14,BJ,Retail,NaN,NaN
4,743124,725,21,funded,2014-08-25T03:24:54Z,725,13,BJ,Retail,NaN,NaN
5,743125,725,27,funded,2014-08-18T23:08:00Z,725,13,BJ,Retail,NaN,NaN
6,743130,725,27,funded,2014-08-19T12:14:49Z,725,13,BJ,Retail,NaN,NaN
7,743134,525,14,funded,2014-07-28T06:20:44Z,525,13,BJ,Services,NaN,NaN
8,743207,950,35,funded,2014-08-26T14:24:08Z,950,14,BJ,Retail,NaN,NaN
9,743228,500,10,funded,2014-08-01T01:54:34Z,500,10,BJ,Food,NaN,NaN
10,743233,200,6,funded,2014-07-28T14:06:20Z,200,11,BJ,Services,NaN,NaN
11,743236,225,8,funded,2014-07-29T00:07:22Z,225,14,BJ,Food,NaN,NaN
12,743238,400,10,funded,2014-08-17T22:03:01Z,400,14,BJ,Retail,NaN,NaN
13,744232,5850,176,funded,2014-08-26T22:16:21Z,5850,12,BJ,Retail,NaN,NaN
14,744237,1250,42,funded,2014-08-23T15:33:30Z,1250,10,BJ,Clothing,NaN,NaN
15,744240,500,13,funded,2014-08-20T01:26:40Z,500,10,BJ,Retail,NaN,NaN
16,744243,1000,31,funded,2014-08-26T10:01:10Z,1000,13,BJ,Retail,NaN,NaN
17,767909,300,12,funded,2014-09-15T11:10:34Z,300,10,BJ,Arts,Ahmed Baba is a Beninese artisan who specializ...,to invest in a bulk purchase of raw materials ...
18,1266423,50000,1519,funded,2017-04-18T06:42:43Z,50000,12,BJ,Agriculture,"<a href=""http://agpowerbenin.com/""> Tolaro Glo...",to add value and jobs to the local economy by ...
19,1480779,50000,1574,funded,2018-04-06T22:46:13Z,50000,14,BJ,Agriculture,"In February 2017, MCE made a 12-month loan of ...",to promote the growth of the business by trans...
20,741324,950,30,funded,2014-08-22T18:52:41Z,950,12,BJ,Retail,NaN,NaN
21,741327,1200,40,funded,2014-08-22T18:22:30Z,1200,14,BJ,Retail,NaN,NaN
22,741383,1025,33,funded,2014-08-19T23:41:31Z,1025,12,BJ,Services,NaN,NaN
23,741390,950,30,funded,2014-08-16T21:38:53Z,950,14,BJ,Services,NaN,NaN
24,741395,900,30,funded,2014-08-22T16:39:02Z,900,12,BJ,Retail,NaN,NaN
25,741422,3825,102,funded,2014-08-22T16:14:10Z,3825,9,BJ,Retail,NaN,NaN
26,741431,850,25,funded,2014-08-21T18:18:17Z,850,12,BJ,Services,NaN,NaN
27,741433,875,26,funded,2014-08-22T21:51:59Z,875,12,BJ,Retail,NaN,NaN
28,741435,750,16,funded,2014-08-23T01:11:26Z,750,12,BJ,Retail,NaN,NaN
29,741437,475,15,funded,2014-08-18T15:10:18Z,475,9,BJ,Retail,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5989,1569410,200,6,funded,2018-07-19T19:32:40Z,200,14,ZW,Food,Fidelity is a 26-year-old entrepreneur who liv...,to start her own grocery shop.
5990,1569437,200,5,funded,2018-07-20T13:34:34Z,200,14,ZW,Retail,Anna is an 18-year-old entrepreneur who lives ...,"to start her own grocery shop, selling sweets,..."
5991,1569452,200,8,funded,2018-07-21T15:30:14Z,200,14,ZW,Retail,Beverly is a 21-year-old entrepreneur who live...,to purchase more groceries to sell and expand ...
5992,1569456,200,8,funded,2018-07-19T21:37:39Z,200,14,ZW,Food,Nancy is an 18-year-old entrepreneur who lives...,to buy grocery products for her business.
5993,1569459,200,6,funded,2018-07-20T08:50:21Z,200,14,ZW,Food,Petronella is a 24-year-old entrepreneur who l...,to buy grocery products for her business.
5994,1569464,200,8,funded,2018-07-21T11:30:11Z,200,14,ZW,Retail,Princess is a 20-year-old entrepreneur who liv...,to purchase hair products.
5995,1569471,200,7,funded,2018-07-20T14:19:48Z,200,14,ZW,Retail,Edith is a 23-year-old entrepreneur who lives ...,to start her own grocery shop selling differen...
5996,1569476,200,7,funded,2018-07-20T01:17:06Z,200,14,ZW,Clothing,Mary is a 24-year-old entrepreneur who lives w...,to start her own clothing shop.
5997,1569481,200,8,funded,2018-07-20T15:47:27Z,200,14,ZW,Food,Nozinhle is a 25-year-old entrepreneur who liv...,to buy groceries and hair products to resell.
5998,1569497,500,13,funded,2018-07-20T14:08:01Z,500,14,ZW,Agriculture,Sinanisiwe is a 30-year-old entrepreneur who l...,"to buy more stock, chicks and chick feed."
5999,1568794,200,8,funded,2018-07-19T12:39:07Z,200,14,ZW,Food,Mary is an 18-year-old entrepreneur who lives ...,to increase the size and variety of her stock.
6000,1568795,200,8,funded,2018-07-18T21:21:30Z,200,14,ZW,Manufacturing,Rosemary is an 18-year-old entrepreneur who li...,to start her own business manufacturing deterg...
6001,1568806,200,8,funded,2018-07-19T01:41:56Z,200,14,ZW,Agriculture,Sharon is a 17-year-old entrepreneur who lives...,to buy chicks and chick feed.
6002,1568807,200,8,funded,2018-07-18T22:21:38Z,200,14,ZW,Agriculture,Loveness is a 29-year-old entrepreneur who liv...,to start her own business growing crops to sel...
6003,1568825,200,6,funded,2018-07-19T11:54:08Z,200,14,ZW,Clothing,Joyce is a 25-year-old entrepreneur who lives ...,to buy more clothes for her business.
6004,1568826,200,8,funded,2018-07-19T07:20:45Z,200,14,ZW,Agriculture,Shebba is a 22-year-old entrepreneur who lives...,to start her own business of rearing chickens.
6005,1568829,200,8,funded,2018-07-19T02:02:36Z,200,14,ZW,Agriculture,Priscilar is an 18-year-old entrepreneur who l...,to buy chicks and chick feed for her business.
6006,1568834,200,6,funded,2018-07-18T23:00:49Z,200,14,ZW,Agriculture,Delayed is a 19-year-old entrepreneur who live...,to start her own business rearing chickens.
6007,1568835,200,6,funded,2018-07-19T06:24:30Z,200,14,ZW,Agriculture,Matilda is a 20-year-old entrepreneur who live...,to start her own poultry business keeping broi...
6008,1568840,200,7,funded,2018-07-19T02:32:48Z,200,14,ZW,Clothing,Belinda is a 23-year-old entrepreneur who live...,to start her own business selling clothes.
6009,1568842,200,8,funded,2018-07-19T04:57:26Z,200,14,ZW,Agriculture,Nyasha is a 22-year-old entrepreneur who lives...,to start her own business rearing chickens.
6010,1568843,200,8,funded,2018-07-19T00:46:32Z,200,14,ZW,Agriculture,Lydia is a 19-year-old entrepreneur who lives ...,to start her own poultry business keeping broi...
6011,1568850,200,8,funded,2018-07-19T07:58:32Z,200,14,ZW,Food,Linda is an 18-year-old entrepreneur who lives...,to start a grocery business.
6012,1568857,200,7,funded,2018-07-19T02:00:45Z,200,14,ZW,Retail,Clara is a 19-year-old entrepreneur who lives ...,"to start her own grocery shop, where she will ..."
6013,1568859,200,8,funded,2018-07-18T23:57:55Z,200,14,ZW,Clothing,Molline is a 34-year-old entrepreneur who live...,to start a clothing and accessories retail bus...
6014,1568871,200,8,funded,2018-07-19T15:14:35Z,200,14,ZW,Food,Sethukelo is a 19-year-old entrepreneur who li...,to purchase goods for starting a grocery store.
6015,1568880,200,8,funded,2018-07-19T19:22:43Z,200,14,ZW,Food,Hlanjiwe is a 20-year-old entrepreneur who liv...,to buy grocery goods for her business.
6016,1568883,200,6,funded,2018-07-19T20:18:53Z,200,14,ZW,Clothing,Lebuhani is a 21-year-old entrepreneur who liv...,to buy clothes for her business.
6017,1568887,200,8,funded,2018-07-18T23:38:44Z,200,14,ZW,Food,Jacqueline is a 23-year-old entrepreneur who l...,her to buy goods to sell in her store.
6018,1568890,200,8,funded,2018-07-19T16:54:18Z,200,14,ZW,Food,Delligent is a 23-year-old entrepreneur who li...,to buy grocery goods for her business.

In [27]:
# You can also store a slice of the dataframe as a new dataframe!
titles_df = df.iloc[:,2]
titles_df.head()

0    60
1    34
2    25
3    28
4    21
Name: lender_count, dtype: int64

### 4. Select subets of the DataFrame

A powerful feature of DataFrames is that you can view a subset of the DataFrame based on the values of the columns or rows.  For example, lets say you only wanted to view loans with a status of "expired"

In [28]:
df[df['status']=='expired']

,id_number,loan_amount,lender_count,status,funded_date,funded_amount,repayment_term,location_country_code,sector,description,use
402,1231896,4750,54,expired,NaN,3550,10,BI,Food,Evariste is part of the Mageyo group and lives...,to increase his capital and purchase a large q...
423,1213488,4700,76,expired,NaN,3000,8,BI,Food,Jacques is a member of the Mutumba Business Gr...,"to buy a bag of sugar, a bag of corn flour and..."
430,1215845,2575,57,expired,NaN,1775,8,BI,Food,Jeanine is part of the Twungubumwe group and l...,to increase her capital in order to buy banana...
433,1218187,2900,37,expired,NaN,1625,9,BI,Food,Elie belongs to the Kayago Groupe and lives in...,to increase their capital and purchase 40 crat...
434,1218287,4400,40,expired,NaN,1850,10,BI,Food,Laurent is a member of the Twijukire-Ibikorwa ...,to bolster his capital and buy unripe bananas...
435,1220071,5375,53,expired,NaN,1650,10,BI,Food,Marcien is a member of the group called Gitwe-...,to grow his working capital and buy a pig to s...
436,1220107,2875,58,expired,NaN,2450,10,BI,Clothing,Alexis is part of the Gitwe-Twitezimbere group...,to increase his capital and buy clothing to re...
439,1231289,4375,45,expired,NaN,2025,9,BI,Food,Isidore is a member of the Butanuka group and ...,to buy palm oil for resale in order to earn more.
440,1231292,3425,51,expired,NaN,2975,9,BI,Retail,Egide is part of the Yagurukundo group and liv...,"to increase their capital and buy rice, beans,..."
443,1181213,3350,58,expired,NaN,2050,9,BI,Retail,Claude is a member of the Giriyuja-Muyira grou...,"to buy a large supply of beans, cassava flour,..."
445,1192075,3750,23,expired,NaN,2500,10,BI,Food,Claver is a member of the Twibukanye group and...,to buy a large amount of beer and lemonade to ...
450,1199327,3900,52,expired,NaN,2725,9,BI,Food,Radjabu belongs to the Senga group and lives i...,to increase his capital and buy a large quanti...
457,1207767,4025,69,expired,NaN,3775,14,BI,Clothing,Odette is a member of the Tubandanye group and...,to increase her capital and buy clothes for re...
458,1207824,4125,38,expired,NaN,1500,14,BI,Retail,Emmanuel is a member of Kundayehova Group and ...,to increase his capital and purchase medicines...
460,1208874,3850,36,expired,NaN,3125,10,BI,Food,Eric is a member of the Turavyiyemeje group an...,to increase his working capital and to buy avo...
468,1169714,5600,49,expired,NaN,1725,25,BI,Retail,Dieudonné lives in Bujumbura and he is a membe...,to increase his capital and buy a large quanti...
475,1176183,4450,83,expired,NaN,2125,8,BI,Retail,Victor is a member of the Akaranga group and h...,to increase his capital and buy large quantiti...
476,1176813,3725,110,expired,NaN,3275,8,BI,Food,Béatrice is part of the group Ntiduhemuka and ...,to purchase a large amount of commercial beer ...
477,1176820,5150,70,expired,NaN,2175,8,BI,Retail,Janvière is part of the group Kanura and lives...,to purchase a large amount of charcoal to rese...
478,1178792,5500,48,expired,NaN,1275,9,BI,Retail,Dieudonne is a member of the Twunguke group an...,to buy a lot of sheet metal to resell.
520,1130819,5200,139,expired,NaN,4175,10,BI,Food,Déogratias is part of the group Mucungwe III a...,to increase his capital and to buy a large qua...
521,1067839,2800,63,expired,NaN,1750,9,BI,Retail,François is a part of the Karakura group and h...,to increase his capital and buy a large quanti...
524,1073783,3775,94,expired,NaN,3150,13,BI,Clothing,Aloys is a member of the Muco group and lives ...,to buy many pieces of clothing.
525,1074357,4600,89,expired,NaN,3025,10,BI,Agriculture,Emile is a member of the Urupfunguruzo group. ...,to increase his capital and buy goats to resel...
534,1094783,4400,128,expired,NaN,3700,8,BI,Food,Elie is a member of the Butanuka group and liv...,to buy palm oil to resell.
535,1095407,4625,51,expired,NaN,2650,9,BI,Food,Richard is a part of the Muzazi group and live...,to increase his capital and buy a large quanti...
540,1096180,3375,98,expired,NaN,3200,9,BI,Food,Laurent is a member of the group called Twijuk...,to grow his working capital and buy a large qu...
573,1035139,4475,111,expired,NaN,3125,9,BI,Food,Calinie is a member of the Giriyuja Muyira gro...,to purchase a large quantity of cans of oil to...
666,1552702,725,21,expired,NaN,525,15,CM,Food,Alain is a 39-year-old man who is married. He ...,to pay for basic food items for his grocery st...
707,1548639,725,12,expired,NaN,325,15,CM,Food,"Joseph is thirty-four years old, engaged to be...","to buy sacks of rice, boxes of fish and chicke..."
...,...,...,...,...,...,...,...,...,...,...,...
3158,1543875,425,9,expired,NaN,250,21,MZ,Retail,Ilda is a 28-year-old merchant who is married ...,to buy staple goods for resale.
3160,1544604,275,6,expired,NaN,150,18,MZ,Housing,Albino is 50 years old. He is married and the...,to buy construction material.
3161,1544609,850,8,expired,NaN,275,18,MZ,Services,"André is 42 years old, married, and the father...",to make car repairs.
3168,1539777,850,7,expired,NaN,175,18,MZ,Retail,"This gentleman is 42 years old, married, and t...",to buy staple goods for resale.
3187,1537436,625,14,expired,NaN,350,17,MZ,Housing,"Miguel is married, he is 37 and he has three c...",to buy construction material.
3201,1539633,500,12,expired,NaN,300,20,MZ,Housing,Elias is 36 years old. He is a teacher and li...,to buy construction materials.
3533,1553244,2825,38,expired,NaN,1275,8,RW,Food,Juliette is 41 years old and married. She has ...,to expand her small shop to pay her children’s...
3539,1549465,6000,108,expired,NaN,4525,8,RW,Food,Greetings from Rwanda! This is KAGARAMA Abahuj...,"to buy more rice, sugar, and maize flour to se..."
3541,1550324,4700,69,expired,NaN,1900,8,RW,Food,Greetings from Rwanda! This is Imbaraga Tcb Gr...,to buy more onions and tomatoes to sell at the...
3547,1550691,7975,37,expired,NaN,1000,8,RW,Food,Greetings from Rwanda! This is Dukangukirumuri...,"to buy more beans, cassava, and sorghum to sel..."
3564,1548709,6400,43,expired,NaN,1075,8,RW,Food,Greetings from Rwanda! This is Telimbere ACb S...,to buy more wheat and cooking oil to make snac...
3565,1548757,5700,29,expired,NaN,750,8,RW,Food,Greetings from Rwanda! This is Terimbere Acb S...,"to buy more sugar, salt, and cooking oil to se..."
3570,1549750,6600,93,expired,NaN,3650,6,RW,Food,Greetings from Rwanda! This is Abanzumugayo Cb...,"to buy more beans, groundnuts and sorghum to s..."
3572,1549843,7800,91,expired,NaN,3025,6,RW,Food,"Greetings from Rwanda! This is IMENA CB, a gro...","to buy more cassava, beans and bananas to sell..."
3579,1546686,6925,41,expired,NaN,1175,8,RW,Food,"Greetings from Rwanda! This is Abizerwa Cb, a ...","to buy more juice, milk, and cakes to sell at ..."
3591,1549016,4625,7,expired,NaN,175,26,RW,Retail,"Emmanuel, 29, is married father of 3 children ...","to buy more sugar, salt, rice, and Colgate to ..."
3592,1549514,5975,137,expired,NaN,5275,6,RW,Retail,Greetings from Rwanda! This is DUFATANYE Cb Su...,to buy more beer to sell at the market to meet...
3594,1549590,7925,23,expired,NaN,700,7,RW,Retail,"Greetings from Rwanda! This is TWIZERANE CB, a...","to buy more juice, cake, milk and soda to sell..."
3596,1549756,2200,19,expired,NaN,475,13,RW,Food,Tonira is the group leader of TWISUNGANE-NYUND...,to buy more fruit to sell to be able to better...
3597,1549783,1950,24,expired,NaN,600,9,RW,Retail,Pertetua is a member of the URUKUNDO group and...,"to buy more items such as salt, rice and maize..."
3599,1543241,2325,8,expired,NaN,200,20,RW,Retail,Felix is a father of 36 years. He is married w...,to buy more phones for sale.
3604,1543737,7050,50,expired,NaN,1450,8,RW,Retail,"Greetings from Rwanda! This is Abizerwa Cb, a ...",to buy more body lotion to sell at the market ...
3605,1543890,7425,27,expired,NaN,800,8,RW,Retail,Greetings from Rwanda! This is ABANYAMURAVA CB...,"to buy more cooking oil, soap and salt to sell..."
5311,1554227,1000,13,expired,NaN,325,12,CD,Retail,"Sitwaminya told us “In the old days, I sold fi...",to sell plastic shoes.
5400,1513784,5600,55,expired,NaN,3650,8,CD,Food,"Philomène is a courageous woman. She is 32, a ...","acheter 40 casiers de boissons Primus,15 casie..."
5409,1521060,1000,20,expired,NaN,525,15,CD,Agriculture,"Pecos claims that "" the loan has been benefici...",to buy coffee for resale.
5413,1521266,800,16,expired,NaN,475,15,CD,Transportation,It has been eight months since Georges and his...,to buy a motorcycle.
5415,1521805,1200,10,expired,NaN,275,15,CD,Transportation,Marc decided in 2009 to use his business asset...,to buy a new motorcycle.
5518,1498097,1450,28,expired,NaN,875,10,ZM,Services,Phatwell prides himself on the impact that he ...,to increase his working capital and ensure tha...
5607,1426414,2500,59,expired,NaN,1975,11,ZM,Services,Mr. Mundia is Zoona’s eldest and wisest entrep...,to increase his float in anticipation of an in...

To view all loans with a status of "expired" `or` "fundraising":

In [29]:
df[(df['status']=='expired')|(df['status']=='fundraising')]

,id_number,loan_amount,lender_count,status,funded_date,funded_amount,repayment_term,location_country_code,sector,description,use
210,1567810,950,15,fundraising,NaN,750,8,BF,Retail,The group is made up of 3 members of whom the ...,to buy some suitcases in quantity for resale.
213,1567905,2950,2,fundraising,NaN,50,14,BF,Food,"Fhatimatoun is 35 years old, married and mothe...",to buy sacks of cereals and charcoal to sell.
214,1567938,2600,3,fundraising,NaN,75,14,BF,Food,"Matagara is 48 years old, married, and is the ...",who wants to buy powdered milk and other ingre...
217,1568867,1875,4,fundraising,NaN,100,10,BF,Food,Tewende Group has just finished their first Ki...,to buy sprouted millet for the preparation of ...
218,1568894,2425,26,fundraising,NaN,1125,8,BF,Food,Kiswendsida has just finished its Kiva loan an...,to buy wheat flour and oil for the fried food ...
219,1568898,900,6,fundraising,NaN,175,8,BF,Food,The group named “Eben Ezer” just finished its ...,to pay for rice and condiments for her restaur...
220,1569523,1800,6,fundraising,NaN,175,8,BF,Clothing,The Sidzadba group just completed its [previou...,"to buy a large quantity of ""pagnes"" to resell."
222,1560770,1275,31,fundraising,NaN,800,10,BF,Food,"Zeneba is 52 yeas old, married and the mother ...","to buy 5 bags of rice, 10 packages of spaghett..."
230,1562208,900,19,fundraising,NaN,500,14,BF,Agriculture,Daouda is married and the father of two childr...,To buy a hundred chickens.
231,1562277,900,5,fundraising,NaN,150,14,BF,Clothing,Seni 1er Jumeau is married and father of four ...,to buy 50 handbags and a dozen pairs of shoes.
232,1562341,900,6,fundraising,NaN,150,14,BF,Food,Mr. LASSANE is the married father of two child...,"to pay for sugar, oil, and rice for his grocer..."
242,1559166,1325,7,fundraising,NaN,175,14,BF,Retail,Mr Ablace is married. He is the father of 2 ch...,to buy 20 dozen tires and 10 dozen inner tubes.
275,1558451,1800,36,fundraising,NaN,1150,12,BF,Clothing,"Ramata is 50 years old, married, and the mothe...",buy clothing.
280,1559148,900,11,fundraising,NaN,325,14,BF,Clothing,Mr. Andre is unmarried. He has four dependents...,to buy six cartons of shoes.
295,1556364,2400,25,fundraising,NaN,650,14,BF,Services,Cécile is thirty years old and single. She is ...,to buy beauty products and hair extensions to ...
402,1231896,4750,54,expired,NaN,3550,10,BI,Food,Evariste is part of the Mageyo group and lives...,to increase his capital and purchase a large q...
423,1213488,4700,76,expired,NaN,3000,8,BI,Food,Jacques is a member of the Mutumba Business Gr...,"to buy a bag of sugar, a bag of corn flour and..."
430,1215845,2575,57,expired,NaN,1775,8,BI,Food,Jeanine is part of the Twungubumwe group and l...,to increase her capital in order to buy banana...
433,1218187,2900,37,expired,NaN,1625,9,BI,Food,Elie belongs to the Kayago Groupe and lives in...,to increase their capital and purchase 40 crat...
434,1218287,4400,40,expired,NaN,1850,10,BI,Food,Laurent is a member of the Twijukire-Ibikorwa ...,to bolster his capital and buy unripe bananas...
435,1220071,5375,53,expired,NaN,1650,10,BI,Food,Marcien is a member of the group called Gitwe-...,to grow his working capital and buy a pig to s...
436,1220107,2875,58,expired,NaN,2450,10,BI,Clothing,Alexis is part of the Gitwe-Twitezimbere group...,to increase his capital and buy clothing to re...
439,1231289,4375,45,expired,NaN,2025,9,BI,Food,Isidore is a member of the Butanuka group and ...,to buy palm oil for resale in order to earn more.
440,1231292,3425,51,expired,NaN,2975,9,BI,Retail,Egide is part of the Yagurukundo group and liv...,"to increase their capital and buy rice, beans,..."
443,1181213,3350,58,expired,NaN,2050,9,BI,Retail,Claude is a member of the Giriyuja-Muyira grou...,"to buy a large supply of beans, cassava flour,..."
445,1192075,3750,23,expired,NaN,2500,10,BI,Food,Claver is a member of the Twibukanye group and...,to buy a large amount of beer and lemonade to ...
450,1199327,3900,52,expired,NaN,2725,9,BI,Food,Radjabu belongs to the Senga group and lives i...,to increase his capital and buy a large quanti...
457,1207767,4025,69,expired,NaN,3775,14,BI,Clothing,Odette is a member of the Tubandanye group and...,to increase her capital and buy clothes for re...
458,1207824,4125,38,expired,NaN,1500,14,BI,Retail,Emmanuel is a member of Kundayehova Group and ...,to increase his capital and purchase medicines...
460,1208874,3850,36,expired,NaN,3125,10,BI,Food,Eric is a member of the Turavyiyemeje group an...,to increase his working capital and to buy avo...
...,...,...,...,...,...,...,...,...,...,...,...
5851,1572453,1150,0,fundraising,NaN,0,9,ZW,Services,Eustina has close to 15 years experience in ha...,to purchase more weaves and wigs.
5853,1572465,1200,0,fundraising,NaN,0,9,ZW,Clothing,Betty is a 60-year-old married grandmother and...,to restock more jersey materials from town and...
5854,1572470,1100,0,fundraising,NaN,0,9,ZW,Services,Ruramai has been a tailor since 2005 so she no...,to buy clothing materials.
5855,1572488,1000,2,fundraising,NaN,50,9,ZW,Services,"-Together, everyone achieves more' is the mott...",to buy bulk braids and weaves and some hair ch...
5856,1572515,1250,0,fundraising,NaN,0,9,ZW,Retail,Yvonne’s flea market is well known because of ...,"to restock fish, blankets, comforters, and win..."
5857,1572519,1300,0,fundraising,NaN,0,8,ZW,Agriculture,"Gladys comes from Idube Farm, an area in centr...",to buy a batch of 100 birds and feed for her c...
5858,1572522,1250,3,fundraising,NaN,75,9,ZW,Health,Abigirl has gathered great knowledge and ideas...,to buy more herbs.
5862,1570622,500,5,fundraising,NaN,125,14,ZW,Clothing,Tapiwa is a 24-year-old entrepreneur who lives...,to buy more clothes.
5864,1570646,1200,7,fundraising,NaN,175,9,ZW,Food,Having realized the existence of a niche marke...,to buy more bakery ingredients in bulk.
5865,1570653,1100,0,fundraising,NaN,0,9,ZW,Retail,Tadzeyi is a 42-year-old married mother of fou...,to restock more groceries in bulk and to resto...
5867,1570659,1000,0,fundraising,NaN,0,9,ZW,Clothing,"At the age of 50, Hazvinei still feels that sh...",to restock more bedding products and clothes f...
5868,1570661,1700,0,fundraising,NaN,0,9,ZW,Agriculture,"Ndaizivei is part of the Billionaires Group, w...",to restock more feed for the chicks and add an...
5870,1570741,1150,0,fundraising,NaN,0,9,ZW,Clothing,"Residing in Stoneridge Park, Harare is a 38-ye...",to restock clothes and blankets for her flea m...
5872,1571452,1000,5,fundraising,NaN,125,8,ZW,Food,Comfort is a male aged 35 years old living in ...,"to purchase additional stock of drinks, cookin..."
5874,1571492,900,10,fundraising,NaN,250,8,ZW,Clothing,"Revai is a female, aged 45 years and living in...",to purchase additional additional stock of sc...
5876,1571543,600,13,fundraising,NaN,325,8,ZW,Services,Kudzanayi is a 49-year-old woman living in Har...,to purchase additional stocks of material to f...
5877,1571571,3000,7,fundraising,NaN,250,8,ZW,Retail,Samuel is a married man aged 44 years with thr...,to buy more grocery and footwear stocks.
5879,1570671,1200,2,fundraising,NaN,50,9,ZW,Retail,Miriam is a 34-year-old mother of two school-g...,to purchase more mobile phones with different ...
5880,1570686,2800,44,fundraising,NaN,1225,8,ZW,Agriculture,"Toriya raises poultry, keeping several types o...",to purchase an incubator which allows her to h...
5882,1570692,1000,2,fundraising,NaN,50,9,ZW,Retail,Sarah is a hardworking and determined lady age...,"to buy vegetables, bananas, fruits, potatoes a..."
5883,1570698,1000,0,fundraising,NaN,0,9,ZW,Agriculture,Evernice is a 43 year old businesslady residin...,to buy hair chemicals and a water pump.
5885,1570706,1800,4,fundraising,NaN,100,8,ZW,Retail,"Dudzai is part of the Cheetah group, which con...",to restock groceries for her tuck shop.
5887,1570721,1600,6,fundraising,NaN,150,8,ZW,Agriculture,32-year-old Moblin lives in Kasimbwi village. ...,to add another batch of 100 birds.
5890,1570726,1400,0,fundraising,NaN,0,9,ZW,Clothing,Tatenda is a young single mother of three chil...,"to restock cosmetics, weaves and clothes."
5892,1570730,1250,6,fundraising,NaN,150,8,ZW,Clothing,"With her ailing parents in mind, Grace could n...",to expand her business by restocking warm clot...
5895,1570733,1000,0,fundraising,NaN,0,9,ZW,Food,Increasing business value has always been a de...,"to restock kapenta, charcoal and paraffin from..."
5897,1570738,1000,14,fundraising,NaN,400,9,ZW,Retail,Sarudzai is one of two business-minded ladies ...,"to add electricity tokens, eggs, fruits, veget..."
5898,1570739,200,2,fundraising,NaN,50,14,ZW,Clothing,"Kupukai is a 38-year-old entrepreneur, who liv...",to buy a variety of clothes.
5915,1570649,2550,6,fundraising,NaN,150,8,ZW,Clothing,Elizabeth is a 45-year-old married mother of 3...,"to buy more clothes, shoes, and bags to expand..."
5918,1570687,1000,4,fundraising,NaN,100,8,ZW,Clothing,"Chihoro is a group with four lively women, who...",to restock a variety of shoes and clothes to a...

Select loans that have expired and with loan amounts greater than 1000

In [30]:
df[(df['status']=='expired')&(df['loan_amount']>1000)]

,id_number,loan_amount,lender_count,status,funded_date,funded_amount,repayment_term,location_country_code,sector,description,use
402,1231896,4750,54,expired,NaN,3550,10,BI,Food,Evariste is part of the Mageyo group and lives...,to increase his capital and purchase a large q...
423,1213488,4700,76,expired,NaN,3000,8,BI,Food,Jacques is a member of the Mutumba Business Gr...,"to buy a bag of sugar, a bag of corn flour and..."
430,1215845,2575,57,expired,NaN,1775,8,BI,Food,Jeanine is part of the Twungubumwe group and l...,to increase her capital in order to buy banana...
433,1218187,2900,37,expired,NaN,1625,9,BI,Food,Elie belongs to the Kayago Groupe and lives in...,to increase their capital and purchase 40 crat...
434,1218287,4400,40,expired,NaN,1850,10,BI,Food,Laurent is a member of the Twijukire-Ibikorwa ...,to bolster his capital and buy unripe bananas...
435,1220071,5375,53,expired,NaN,1650,10,BI,Food,Marcien is a member of the group called Gitwe-...,to grow his working capital and buy a pig to s...
436,1220107,2875,58,expired,NaN,2450,10,BI,Clothing,Alexis is part of the Gitwe-Twitezimbere group...,to increase his capital and buy clothing to re...
439,1231289,4375,45,expired,NaN,2025,9,BI,Food,Isidore is a member of the Butanuka group and ...,to buy palm oil for resale in order to earn more.
440,1231292,3425,51,expired,NaN,2975,9,BI,Retail,Egide is part of the Yagurukundo group and liv...,"to increase their capital and buy rice, beans,..."
443,1181213,3350,58,expired,NaN,2050,9,BI,Retail,Claude is a member of the Giriyuja-Muyira grou...,"to buy a large supply of beans, cassava flour,..."
445,1192075,3750,23,expired,NaN,2500,10,BI,Food,Claver is a member of the Twibukanye group and...,to buy a large amount of beer and lemonade to ...
450,1199327,3900,52,expired,NaN,2725,9,BI,Food,Radjabu belongs to the Senga group and lives i...,to increase his capital and buy a large quanti...
457,1207767,4025,69,expired,NaN,3775,14,BI,Clothing,Odette is a member of the Tubandanye group and...,to increase her capital and buy clothes for re...
458,1207824,4125,38,expired,NaN,1500,14,BI,Retail,Emmanuel is a member of Kundayehova Group and ...,to increase his capital and purchase medicines...
460,1208874,3850,36,expired,NaN,3125,10,BI,Food,Eric is a member of the Turavyiyemeje group an...,to increase his working capital and to buy avo...
468,1169714,5600,49,expired,NaN,1725,25,BI,Retail,Dieudonné lives in Bujumbura and he is a membe...,to increase his capital and buy a large quanti...
475,1176183,4450,83,expired,NaN,2125,8,BI,Retail,Victor is a member of the Akaranga group and h...,to increase his capital and buy large quantiti...
476,1176813,3725,110,expired,NaN,3275,8,BI,Food,Béatrice is part of the group Ntiduhemuka and ...,to purchase a large amount of commercial beer ...
477,1176820,5150,70,expired,NaN,2175,8,BI,Retail,Janvière is part of the group Kanura and lives...,to purchase a large amount of charcoal to rese...
478,1178792,5500,48,expired,NaN,1275,9,BI,Retail,Dieudonne is a member of the Twunguke group an...,to buy a lot of sheet metal to resell.
520,1130819,5200,139,expired,NaN,4175,10,BI,Food,Déogratias is part of the group Mucungwe III a...,to increase his capital and to buy a large qua...
521,1067839,2800,63,expired,NaN,1750,9,BI,Retail,François is a part of the Karakura group and h...,to increase his capital and buy a large quanti...
524,1073783,3775,94,expired,NaN,3150,13,BI,Clothing,Aloys is a member of the Muco group and lives ...,to buy many pieces of clothing.
525,1074357,4600,89,expired,NaN,3025,10,BI,Agriculture,Emile is a member of the Urupfunguruzo group. ...,to increase his capital and buy goats to resel...
534,1094783,4400,128,expired,NaN,3700,8,BI,Food,Elie is a member of the Butanuka group and liv...,to buy palm oil to resell.
535,1095407,4625,51,expired,NaN,2650,9,BI,Food,Richard is a part of the Muzazi group and live...,to increase his capital and buy a large quanti...
540,1096180,3375,98,expired,NaN,3200,9,BI,Food,Laurent is a member of the group called Twijuk...,to grow his working capital and buy a large qu...
573,1035139,4475,111,expired,NaN,3125,9,BI,Food,Calinie is a member of the Giriyuja Muyira gro...,to purchase a large quantity of cans of oil to...
1182,1513784,5600,55,expired,NaN,3650,8,CD,Food,"Philomène is a courageous woman. She is 32, a ...","acheter 40 casiers de boissons Primus,15 casie..."
1197,1521805,1200,10,expired,NaN,275,15,CD,Transportation,Marc decided in 2009 to use his business asset...,to buy a new motorcycle.
...,...,...,...,...,...,...,...,...,...,...,...
2918,1491240,2550,56,expired,NaN,1850,10,ML,Retail,Sidiki is the one with a hand raised in the ph...,to pay for merchandise to resell and earn a pr...
2950,1464511,2850,34,expired,NaN,1475,10,ML,Agriculture,Tièkilé is the man holding the sheep's horn in...,to buy sheep for resale and thus earn an incom...
2953,1465343,4375,64,expired,NaN,1725,8,ML,Agriculture,Bourama Zan is the one who is holding the bunc...,to buy fertilizer and pesticide for his market...
2954,1466105,3975,33,expired,NaN,1400,11,ML,Agriculture,Abdramane is 45 years old and is pictured hold...,to buy sheep and raise them for resale.
2965,1460663,2400,52,expired,NaN,1825,12,ML,Agriculture,Souleymane is a married Malian and raises ani...,to buy sheep for resale so as to be able to se...
2978,1462096,2750,31,expired,NaN,800,10,ML,Agriculture,Amadou is the man holding the ram's horns in t...,to buy rams for resale in order to support his...
2992,1459267,2100,45,expired,NaN,1350,10,ML,Agriculture,"Gninlo, pictured holding the goat among other ...",to buy sheep for resale in order to satisfy th...
2996,1459294,5800,60,expired,NaN,1550,11,ML,Agriculture,Bibata is the one showing the ram in the group...,to buy rams to resell to be able to sell them ...
3154,1543738,1025,3,expired,NaN,100,20,MZ,Housing,"Parafino, 32, is married and lives in his own ...",to buy construction materials.
3533,1553244,2825,38,expired,NaN,1275,8,RW,Food,Juliette is 41 years old and married. She has ...,to expand her small shop to pay her children’s...
3539,1549465,6000,108,expired,NaN,4525,8,RW,Food,Greetings from Rwanda! This is KAGARAMA Abahuj...,"to buy more rice, sugar, and maize flour to se..."
3541,1550324,4700,69,expired,NaN,1900,8,RW,Food,Greetings from Rwanda! This is Imbaraga Tcb Gr...,to buy more onions and tomatoes to sell at the...
3547,1550691,7975,37,expired,NaN,1000,8,RW,Food,Greetings from Rwanda! This is Dukangukirumuri...,"to buy more beans, cassava, and sorghum to sel..."
3564,1548709,6400,43,expired,NaN,1075,8,RW,Food,Greetings from Rwanda! This is Telimbere ACb S...,to buy more wheat and cooking oil to make snac...
3565,1548757,5700,29,expired,NaN,750,8,RW,Food,Greetings from Rwanda! This is Terimbere Acb S...,"to buy more sugar, salt, and cooking oil to se..."
3570,1549750,6600,93,expired,NaN,3650,6,RW,Food,Greetings from Rwanda! This is Abanzumugayo Cb...,"to buy more beans, groundnuts and sorghum to s..."
3572,1549843,7800,91,expired,NaN,3025,6,RW,Food,"Greetings from Rwanda! This is IMENA CB, a gro...","to buy more cassava, beans and bananas to sell..."
3579,1546686,6925,41,expired,NaN,1175,8,RW,Food,"Greetings from Rwanda! This is Abizerwa Cb, a ...","to buy more juice, milk, and cakes to sell at ..."
3591,1549016,4625,7,expired,NaN,175,26,RW,Retail,"Emmanuel, 29, is married father of 3 children ...","to buy more sugar, salt, rice, and Colgate to ..."
3592,1549514,5975,137,expired,NaN,5275,6,RW,Retail,Greetings from Rwanda! This is DUFATANYE Cb Su...,to buy more beer to sell at the market to meet...
3594,1549590,7925,23,expired,NaN,700,7,RW,Retail,"Greetings from Rwanda! This is TWIZERANE CB, a...","to buy more juice, cake, milk and soda to sell..."
3596,1549756,2200,19,expired,NaN,475,13,RW,Food,Tonira is the group leader of TWISUNGANE-NYUND...,to buy more fruit to sell to be able to better...
3597,1549783,1950,24,expired,NaN,600,9,RW,Retail,Pertetua is a member of the URUKUNDO group and...,"to buy more items such as salt, rice and maize..."
3599,1543241,2325,8,expired,NaN,200,20,RW,Retail,Felix is a father of 36 years. He is married w...,to buy more phones for sale.
3604,1543737,7050,50,expired,NaN,1450,8,RW,Retail,"Greetings from Rwanda! This is Abizerwa Cb, a ...",to buy more body lotion to sell at the market ...
3605,1543890,7425,27,expired,NaN,800,8,RW,Retail,Greetings from Rwanda! This is ABANYAMURAVA CB...,"to buy more cooking oil, soap and salt to sell..."
5400,1513784,5600,55,expired,NaN,3650,8,CD,Food,"Philomène is a courageous woman. She is 32, a ...","acheter 40 casiers de boissons Primus,15 casie..."
5415,1521805,1200,10,expired,NaN,275,15,CD,Transportation,Marc decided in 2009 to use his business asset...,to buy a new motorcycle.
5518,1498097,1450,28,expired,NaN,875,10,ZM,Services,Phatwell prides himself on the impact that he ...,to increase his working capital and ensure tha...
5607,1426414,2500,59,expired,NaN,1975,11,ZM,Services,Mr. Mundia is Zoona’s eldest and wisest entrep...,to increase his float in anticipation of an in...

### 5. Merging and grouping data

You can group data by a column that has duplicates, like activity for the sector group.

In [32]:
df.groupby(['sector'])['loan_amount'].sum().reset_index()

            sector  loan_amount
0      Agriculture      1518025
1             Arts        65025
2         Clothing       940975
3     Construction       143950
4        Education       215850
5             Food      2973075
6           Health       263575
7          Housing        72800
8    Manufacturing        43200
9     Personal Use       170025
10          Retail      2049150
11        Services       465400
12  Transportation        62750
13       Wholesale        38750

You can also use SQL functions like inner join, outer join, left / right join using pd.merge(). Find documentation on this concept here: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html

## Great Resources for further information:

- [10 minute introduction to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
- [Pandas in ipython notebooks](http://nbviewer.jupyter.org/github/jvns/pandas-cookbook/blob/master/cookbook/A%20quick%20tour%20of%20IPython%20Notebook.ipynb)

In [33]:
!ls

1_1 intro_to_python.ipynb		  1_5_README.md
1_2 intro_to_pandas.ipynb		  best_practices_data_science.pdf
1_3_loading_and_understanding_data.ipynb  images
1_4_exploratory_data_analysis.ipynb	  intro_to_visualization.pptx
1_4 README.md				  python_installation_instructions.md
1_5_feature_engineering.ipynb

In [ ]:
!pip install "name of the library missing"